.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f5f5f5;
    flex-wrap: wrap;
}

.schedule {
    padding-top: 25px;
}

.ingredients {
    padding-top: 25px;
}