.scheduleList {
    display: grid;
    grid-row-gap:10px;
    width:100%
}

.scheduleCard {
    padding-top: 20px;
    padding-left: 20px;
    height:100px;
    position: relative;
}

.button {
    position: absolute;
    right:0;
    top:0;
}

.form {
    margin-left: 25px;
    margin-bottom: 25px;
    margin-top:25px;
}

.root {
    width: 35vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formInput{
    width:75%;
}

@media (max-width: 1217px){
    .root {
        width: 75vw;
        display: block;
    }
    .formInput{
        width:75%;
    }
}

